<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello Django FORM</h1>
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <span>{{ error }}</span>
    {% endfor %}
  {% endif %}
  <form action="{% url 'student_form' %}" method="POST" novalidate>
    {% csrf_token %}
    {% for field in form %}
     <div>
      {{ field.label_tag }}
      {{ field }}
      {{ field.errors }}
      <hr>
     </div>
    {% endfor %}
    <input type="submit" value="Submit">
  </form>
</body>
</html>